html{
    margin: 0px;
    min-height: 100px;
    width: 100%;
    overflow: auto;
    
}
body {
    display: flex;
    width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
   
}
h2,h3,h4,h5,h6 {
    margin-bottom: 0;
    padding-bottom: 0;
    color: var(--first-color);

}
h2{
	font: 100 10px/1.3 'sans-serif';
	text-align:left; 
}
p {
    margin-top: 20px;
    margin-bottom: 10px
}
#offcanvas-left,
#offcanvas-right {
    flex: 0 0 280px;
    background-color: #111;
    color: white;
    transition-duration: 0.5s;
}
#offcanvas-left.hide {
    margin-left: -280px;
}
#offcanvas-right.hide {
    margin-right: -280px;
}
#offcanvas-left ul li,
#offcanvas-right ul li {
    color: white;
    list-style-type: none;
    padding-top: 0;
    padding-left: 0;
    margin-left: 0;
    padding:  10px 20px; 
    border-bottom: 1px solid #222
}
#offcanvas-left a,
#offcanvas-right a{
    color: white;
    text-align: justify;
    text-decoration: none;
    font-size: 15px;
}
.togglebar {
    background-color: #232323;
    flex: 0 0 50px;
    min-width: 50px;
    max-width: 50px;
}
.toggle i {
    height: 4px;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 5px auto;
}
.toggle i:hover {
    color: yellow;
}
figure.hero {
    position: relative;
    height: 70%;
    padding-left: 0;
    padding-bottom: 0;
    overflow: hidden;
    margin: 0;
    background-position: center;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}
figure.hero figcaption{
    position: absolute;
    font-style: normal;
    padding: 0;
    margin: 0;
    left: 0;
    top: 50%;
    color: white;
    
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    padding: 20px 0;
}
figure.hero figcaption * {
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding: 0;
}
header {
    background-color: yellow;
    flex: 0 0 40px;
    color: white;
    /* justify-content: center; */
    padding: 20px;
}
header nav {
    background-color: rgba(255,255,255, 0.1);
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
footer {
    background-color: yellow;
    padding: 10px;
    text-align: center;
    color: saddlebrown;
}
body > section {
    flex: 1 1 auto;
    flex-direction: row;
    height: 100%;
    display: grid;
    justify-content: top;
}
h1 {
  font: 400 50px/1.3 'Arizonia', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}
header{
   font: 400 50px/1.3 'Oleo Script', Helvetica, sans-serif;
   color: #2b2b2b;
   text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
section > main {
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    padding: 20px;
    overflow-x: scroll;
}
article {
    border-radius: 20px;
    background-color: saddlebrown;
    padding: 60px;
    margin-bottom: 20px;
}
img {
    width: 50%;

}

#offcanvas-left,
#offcanvas-right,
header,
body > section,
footer,
main article {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#offcanvas-left,
#offcanvas-right,
footer,
header,
main article {
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav a {
    color: saddlebrown;
    text-decoration: none;
    font-size: 12px;
}
.center header nav a:hover {
    text-decoration: underline
}
nav {
    background-color: #f0f0f0;
}
nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;

}
nav ul li{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    display: inline-flex;
    padding: 10px;
    font: 400 50px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
nav a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
footer* { 
    height: auto;
    position: absolute;
    bottom: 0px;
    background: none repeat scroll 0 0 #1E1E1E;
    color: #FFFFFF;
    font-family: 'sansationregular';
    height: 36px; // ?  36 height
    line-height: 36px;  // Here the problem 40 line height
    margin-top: 45px;
    width: 100%;
}
.container {
    display: grid;
     
} 
.affogato{
    width: 70%;
    height: 60%;
}
.cafe{
    width: 70%;
    height: 60%;
}
.container > div > img {
    width: auto;
    height: 100%;
    object-fit: cover;

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px){
    column {
        width: 100%;
}
/* Table styles */

/*table.styled {
    width: 80%;
    border-collapse: collapse;
}
table.styled > thead, th {
   background-color: white;
}
table.styled > thead, th {
    text-align: center;
}
*table.styled th, table.styled td {
    padding: 5px;*/
h1{
	background-color: saddlebrown;
	left: 0;
	right: 0;
	width: 100%;
	height: 60px;
	text-align: justify;
}
footer{
	background-color: saddlebrown;
	padding: 20px;
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	text-align: center;
}
#block{
	/*width: 200px;*/
	/*padding: 25px;*/
	text-align: justify;
	
}
table,th,td{
	border: 2px solid green;
}
 
 /*add media query below*/

@media (max-width: 200px) { 
    p {
      background-color: blue;
    }
  }
